[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask-paranoid = "*"
jinja2 = "*"
passlib = "*"
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
mypy = "*"

[requires]
python_version = "3.9"
