h1 {
    font-family: 'Kaushan Script', cursive;

}

h2 {
    font-size: 2rem;
}

.cyberTextColor {
    color: #6a63f3;
}

.feature {
    display: block;

}

.feature-text {
    text-align: center;
}

.navbar {
    background-color: #305376
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #00ffca;
}

.nav-link {
    font-weight: 600;
    font-size: 1.2rem;
}

.myNavLink {
    color: #cf75eb !important;
}

.myNavLink:hover {
    color: #c34ee8 !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}