<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <!-- 🚨 Notice this link -->

    <!-- <link rel="stylesheet" id="theme" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.0/dist/cosmo/bootstrap.min.css"> -->
    <link id="theme" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">


    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Kausnan Script -->
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://kit.fontawesome.com/2bb60e7899.js" crossorigin="anonymous"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Alert.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer-Basic.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer-Dark.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>PinIt</title>
</head>

<body>
    <section id="title" class="myNav me-auto">
        <nav class="navbar navbar-light navbar-expand-md  pt-3 ps-5">
            <div class="container-fluid"><a class="navbar-brand" href="{{ url_for('home')}}">
                    <img src="{{ url_for('static', filename='img/brand-alt.svg')}}" />
                </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">
                        Toggle navigation
                    </span>
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!-- <li class="nav-item"><a class="nav-link active" href="#">Sign Up</a></li> -->
                        <li class="nav-item"><a class="nav-link myNavLink"
                                href="{{url_for('users.register_user')}}">Sign Up</a></li>
                        <li class="nav-item"><a class="nav-link myNavLink"
                                href="{{url_for('users.login_user')}}">Login</a></li>
                        <li class="nav-item">
                            <a class="nav-link myNavLink" href="{{url_for('create')}}">Create Note</a>
                        </li>
                        {% if session.get('email')%}
                        <li class="nav-item">
                            <a class="nav-link myNavLink" href="{{url_for('users.logout')}}">Logout</a>
                        </li>
                        {% endif %}
                        <!-- <li class="nav-item"></li> -->

                    </ul>
                    <!-- 🚨 Notice the toggleTheme() function -->

                    <a href="#" class="btn btn-outline-info btn-lg me-5 ms-3 me-10 font-weight-bold" id="theme-toggler"
                        onclick="toggleTheme()"></a>
                </div>
            </div>
        </nav>
        {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category,message in messages %}
        <div class="alert alert-{{ category }} ms-auto me-auto" role="alert">

            <span>{{ message }}</span>
            <span class="ms-auto">
                <button type="button" class="close btn ms-auto" data-dismiss="alert" aria-label="Close"
                    style="display:inline-flex" onclick="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </span>

        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </section class="me-5 ms-5">
    {% block content %}

    {% endblock %}

    <section class="mt-5">

        <footer class="footer-dark">
            <!-- Start: Social Icons -->
            <div class=" social">
                <a href="#"><i class="icon ion-social-instagram"></i></a>
                <a href="#"><i class="icon ion-social-snapchat"></i></a>
                <a href="#"><i class="icon ion-social-twitter"></i></a>
                <a href="#"><i class="icon ion-social-facebook"></i></a>
            </div>
            <!-- End: Social Icons -->

            <!-- Start: Links -->
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <!-- End: Links -->
            <!-- Start: Copyright -->
            <p class="copyright">PinIt © 2021</p><!-- End: Copyright -->
        </footer><!-- End: Footer Basic -->
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>


    <!-- 🚨 Our custom JavaScript  -->
    <script src="{{ url_for('static', filename='scripts/theme.js')}}"></script>
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0, function () {
                $(this).remove();
            })
        }, 4000);
    </script>
    <script>
        function closeAlert() {
            $(".alert").fadeTo(100, 0, function () {
                $(this).remove();
            });
        }
    </script>
    {% block scripts %}
    {% endblock %}
</body>

</html>