{% extends 'base.html' %}


{% block content %}
<main>
	<script src="{{url_for('static', filename='scripts/xncolorpicker.min.js')}}"> </script>

	<div class="mt-3">
		<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#new-note"
			aria-expanded="false" aria-controls="new-note" id="new-note-btn">
			Take a Note
		</button>
		<div class="collapse mt-3 align-items-center" id="new-note">
			<form class="new-note-form form-signin mt-5 mb-5 border shadow-lg w-100">
				<div class="bg-transparent">
					<input class="form-control border-0 bg-transparent" id="noteTitle" placeholder="Title">
				</div>
				<div class="bg-transparent">
					<textarea class="form-control mt-2 border-0 bg-transparent" id="noteContent"
						placeholder="Take a Note ..."></textarea>
				</div>
			</form>

			<div class="ms-5 me-5">
				<p style="text-align:center;">Choose color</p>

				<div id="colorpicker">
					<!-- <div class="fcolorpicker-curbox" style="background: rgb(0, 138, 103) none repeat scroll 0% 0%;"></div> -->
				</div>
			</div>

		</div>

	</div>
</main>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/note_color.js')}}"></script>
{% endblock %}